# Ignore build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
*.dll
*.exe
*.pdb
*.cache
*.log
*.vs/
.vscode/
*.dbmdl

# User-specific files
*.suo
*.user
*.userosscache
*.suo

# OS-specific files
.DS_Store
Thumbs.db
